# MongoDB Atlas or local connection URI
# Example Atlas: mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/dialogue_assistant?retryWrites=true&w=majority
# Example Local: mongodb://localhost:27017/
MONGO_URI=
